.header { 
    display: flex;
    justify-content: space-between;
    width: 320px;
    height: 88px;
}

.text-block {
border: 1px solid #B8FFEC;
border-radius: 8px;
width: 246px;
height: 40px;
margin-left: 1%;
}

.text {
    opacity: 0.5;
text-align: center;
}

.footer {
width: 320px;
height: 322px;
}

.logo5  {
display: flex;
}

